.benefits {
  height: 368px;
  box-sizing: border-box;
}

.benefits__container {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  .benefits__item {
    flex: 1;
    margin-top: 100px;

    @media (max-width: 1540px) {
      margin-top: 80px;
    }

    .benefits__item-img {
      @media (max-width: 1540px) {
        width: 72px;
      }
    }
  }

  .benefits__item-name {
    margin-top: 30px;
    display: block;
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;

    @media (max-width: 1540px) {
      margin-top: 18px;
      font-size: 18px;
    }
  }

  .benefits__item-description {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.8;

    @media (max-width: 1540px) {
      margin-top: 8px;
      font-size: 16px;
    }
  }
}
