.common-questions {
  padding-bottom: 28px;
}

.common-questions__title {
  margin: -10px 0 0 0;
  font-size: 52px;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.9;
}

.common-questions_list {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;

  .common-questions__list-item {
    margin-bottom: 32px;
    min-height: 106px;
    width: 625px;
    border-bottom: 2px solid rgba($color: #fff, $alpha: 0.1);

    .common-questions__question {
      display: flex;
      justify-content: space-between;
      align-items: start;
      cursor: pointer;

      .common-questions__question-text {
        margin: 0 0 0 0;
        width: 530px;
        font-size: 24px;
        font-weight: 500;
        line-height: 140%;
      }
    }
  }

  .common-questions__question-answer {
    margin: 20px 0 39px 0;
    width: 524px;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.8;
  }
}
