.devices {
  height: 806px;
  padding-top: 156px;

  @media (max-width: 1540px) {
    height: auto;
  }
}

.devices__wrapper {
  display: flex;

  .devices__title {
    margin-top: 40px;
    margin-bottom: 0px;
    width: 715px;
    font-size: 52px;
    font-weight: 500;
    line-height: 140%;
    opacity: 0.9;

    @media (max-width: 1540px) {
      margin-top: -14px;
      width: 660px;
      font-size: 40px;
    }
  }

  .devices__text {
    margin-top: 30px;
    width: 715px;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.8;

    @media (max-width: 1540px) {
      margin-top: 15px;
      font-size: 16px;
    }
  }

  .devices__img {
    margin: -7px 0 0 28px;

    @media (max-width: 1540px) {
      margin: -50px 0 0 -158px;
      width: 630px;
    }
  }

  .devices__red-btn {
    margin-top: 40px;

    @media (max-width: 1540px) {
      margin-top: 30px;
    }
  }
}

.devices__operation-systems {
  margin-top: 101px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1540px) {
    margin-top: 85px;
  }

  .devices__operation-system {
    @media (max-width: 1540px) {
      height: 34px;
    }
  }
}
