.header {
  height: 830px;
}

.header__bg-gradient {
  position: absolute;
  height: 1198px;
  width: 100%;
  background-image: url('./../assets/img/backgrounds/header-gradient.png');
  background-repeat: no-repeat;

  .header__bg-cover {
    background-image: url('./../assets/img/backgrounds/bg-bats.svg');
    position: absolute;
    height: 1084px;
    width: 100%;
    top: 546px;
  }
}
