.tv-channels {
  position: relative;
  height: 901px;
  box-sizing: border-box;

  .tv-channels__bg-gradient {
    position: absolute;
    top: -404px;
    height: 1584px;
    width: 100%;
    background: url('./../assets/img/backgrounds/tv-channels-gradient.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: -1;

    .tv-channels__bg-cover {
      position: absolute;
      bottom: 19px;
      height: 1220px;
      width: 654px;
      background: url('./../assets/img/backgrounds/bg-web.svg');
    }
  }
}
