.tv-channels {
  position: relative;
  box-sizing: border-box;
}

.tv-channels__title {
  margin-top: 11px;
  margin-bottom: 19px;
  color: #fff;
  font-size: 52px;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.9;

  @media (max-width: 1540px) {
    margin-top: 68px;
    margin-bottom: 15px;
    font-size: 40px;
  }
}

.tv-channels__title::after {
  content: url('./../assets/icons/tv-channels/lightning.svg');
  position: relative;
  left: 17px;
  top: -27px;

  @media (max-width: 1540px) {
    content: url('./../assets/icons/tv-channels/lightning-1440.svg');
    left: 6px;
    top: -10px;
  }
}

.tv-channels__description {
  margin: 0;
  width: 840px;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;

  @media (max-width: 1540px) {
    width: 596px;
    font-size: 16px;
  }
}

.tv-channels__categories-list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 51px;

  @media (max-width: 1540px) {
    margin-top: 32px;
  }

  .tv-channels__category {
    display: flex;
    padding: 17px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;

    @media (max-width: 1540px) {
      padding: 13px 16px;
      font-size: 16px;
    }
  }

  .tv-channels__category_active {
    border: 2px solid #fc3232;
    background: #fc3232;
  }
}

.tv-channels__channels {
  display: grid;
  gap: 48px 66px;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;

  @media (max-width: 1540px) {
    margin-top: 40px;
    gap: 32px 48px;
  }
}

.tv-channels__show-all {
  margin: 7px 0 0 auto;
  width: 175px;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;

  @media (max-width: 1540px) {
    margin: 2px -38px 0 auto;
    font-size: 14px;
  }

  img {
    position: relative;
    top: 10px;
    margin-left: -1px;
  }
}

.tv-channels__bg-gradient {
  position: absolute;
  top: -404px;
  height: 1584px;
  width: 100%;
  background: url('./../assets/img/backgrounds/tv-channels-gradient.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  z-index: -1;

  .tv-channels__bg-cover {
    position: absolute;
    bottom: 19px;
    height: 1220px;
    width: 654px;
    background: url('./../assets/img/backgrounds/bg-web.svg');
  }
}
